*{
	margin: auto;
}
div{
	position: relative;
	margin-top: 20px;
	width: 600px;
	height: 350px;
	background-color: #e7e7e7;
}
h3{
	position: relative;
	text-align: center;
	top: 10px;
	color: #ffd127;
}
hr{
	margin-top: 20px;
	color: #ffd127;
	text-align: center;
	width: 94%;
}
p{
	margin-left: 30px;
	line-height: 30px;
	
}
div .pro{
	color: red;
}
div .ans{
	margin-left: 10px;
	color: #ffaa00;
}